<div class="product-item">
    <img src="/img/{{imagen}}" alt="{{nombre}}">
    <h5>{{nombre}}</h5>
    <p>{{descripcion}}</p>
    <button class="btn btn-success select-product" data-nombre="{{nombre}}" data-imagen="/img/{{imagen}}">Seleccionar</button>
</div>
